html,
body {
  padding: 0;
  margin: 0;
	font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
	--hamWidth: 20px;
	--hamHeight: 2px;
}
@media only screen and (max-width: 576px){
	:root{
		
	}
}