.main{
	min-height: 100vh;
	background: #171717;
	
}
.hero{
	width: 100%;
	height: 350px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	
}
.hero_container{
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
	color: #fff;
	
}
.hero_text{
	width: 400px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	
}
.hero_text h1{
	font-size: 50px;
	
}
.hero_text small{
	position: relative;
	bottom: 50px;
	
}
.hero_info{
	width: 300px;
	height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	margin: 20px;
	
}
.hero_info p{
	font-size: 8px;
	
}
.hero_info small{
	color: lightblue;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80px;
	
	
}
.hero_info small img{
	width: 20px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #fff;
	
}
.hero_year{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 190px;
	
}
.hero_year h2{
	color: lightblue;
	margin-right: 10px;
	
}
.about_container{
	width: 100%;
	height: 300px;
	background: #F2F3F4;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	box-shadow: inset 12px 12px 13px #d0d1d2,
            inset -12px -12px 13px #ffffff;
	flex-wrap: wrap;
	
}
.contact{
	width: 300px;
	height: 230px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	margin: 20px;
	
}
.contact p{
	font-size: 8px;
	
}
.link{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	
}
.contact a{
	font-weight: 500;
	border-bottom: 1px solid lightblue;
	position: relative;
	bottom: 5px;
	
	
}
.certificate_container{
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
	color: #fff;
	flex-direction: column;
	
}
.certificate_info{
	width: 100%;
	margin: 20px 0px;
	padding: 10px;

}
.none{
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	border: 1px solid #fff;
	
}
#notice{
	display: none;
	
}
#icon{
	font-size: 60px;
	
}
.none:hover #notice{
	display: block;
	
}
.none:hover #icon{
	display: none;
	
}
@media only screen and (max-width: 576px){
	.hero{
		height: 400px;
		
	}
	.hero_container{
		flex-wrap: wrap;
		font-size: 8px;
		
	}
	.hero_text{
		width: 200px;
		padding: 10px;
	}
	.hero_text small{
		bottom: 15px;
		
	}
	.hero_text h1{
		font-size: 16px;
		
	}
	.hero_info{
		height: 230px;
		
	}
	.main{
		font-size: 13px;
		
	}
	.hero_year{
		width: 100px;
		
	}
	.about_container{
		height: 700px;
		
	}
	.none{
		height: 300px;
		
	}
	#icon{
		font-size: 40px;
		
	}
	#notice{
		font-size: 10px;
		
	}
}

@keyframes name{
	0%{
		opacity: 0;
		width: 0;
		
	}
	30%{
		opacity: 30%;
		width: 70px;
		
	}
	70%{
		opacity: 70%;
		width: 150px;
	}
	100%{
		opacity: 100%;
		width: 200px;
	}
}