.main{
	min-height: 100vh;
}
.hero{
	width: 100%;
	height: 300px;
	background: linear-gradient(rgb(40,120,250),rgb(40,160,250));
	
}
.hero svg{
	width: 100%;
	height: 100%;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
	background: #777;
	
	
}
.path0{
	animation:pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
}

@keyframes pathAnim-0{
	0%{
              d: path("M 0,600 C 0,600 0,150 0,150 C 71.16746411483251,120.99521531100478 142.33492822966502,91.99043062200958 253,97 C 363.665071770335,102.00956937799042 513.8277511961722,141.03349282296648 621,167 C 728.1722488038278,192.96650717703352 792.3540669856459,205.8755980861244 885,204 C 977.6459330143541,202.1244019138756 1098.7559808612439,185.4641148325359 1196,174 C 1293.2440191387561,162.5358851674641 1366.622009569378,156.26794258373207 1440,150 C 1440,150 1440,600 1440,600 Z");
	}
	25%{
              d: path("M 0,600 C 0,600 0,150 0,150 C 86.68899521531102,137.08133971291866 173.37799043062205,124.16267942583731 269,121 C 364.62200956937795,117.83732057416269 469.17703349282294,124.43062200956938 584,124 C 698.8229665071771,123.56937799043062 823.913875598086,116.11483253588518 914,111 C 1004.086124401914,105.88516746411482 1059.1674641148327,103.11004784688994 1141,110 C 1222.8325358851673,116.88995215311006 1331.4162679425835,133.44497607655504 1440,150 C 1440,150 1440,600 1440,600 Z");
	}
	50%{
              d: path("M 0,600 C 0,600 0,150 0,150 C 89.17703349282297,177.13875598086122 178.35406698564594,204.27751196172247 287,193 C 395.64593301435406,181.72248803827753 523.7607655502393,132.0287081339713 623,132 C 722.2392344497607,131.9712918660287 792.6028708133971,181.60765550239233 864,202 C 935.3971291866029,222.39234449760767 1007.8277511961721,213.54066985645935 1104,200 C 1200.1722488038279,186.45933014354065 1320.0861244019138,168.22966507177034 1440,150 C 1440,150 1440,600 1440,600 Z");
	}
	75%{
              d: path("M 0,600 C 0,600 0,150 0,150 C 106.86124401913875,176.19138755980862 213.7224880382775,202.38277511961724 304,199 C 394.2775119617225,195.61722488038276 467.97129186602865,162.66028708133973 564,140 C 660.0287081339713,117.33971291866028 778.3923444976077,104.97607655502391 878,102 C 977.6076555023923,99.02392344497609 1058.4593301435407,105.4354066985646 1149,115 C 1239.5406698564593,124.5645933014354 1339.7703349282297,137.28229665071768 1440,150 C 1440,150 1440,600 1440,600 Z");
	}
	100%{
              d: path("M 0,600 C 0,600 0,150 0,150 C 71.16746411483251,120.99521531100478 142.33492822966502,91.99043062200958 253,97 C 363.665071770335,102.00956937799042 513.8277511961722,141.03349282296648 621,167 C 728.1722488038278,192.96650717703352 792.3540669856459,205.8755980861244 885,204 C 977.6459330143541,202.1244019138756 1098.7559808612439,185.4641148325359 1196,174 C 1293.2440191387561,162.5358851674641 1366.622009569378,156.26794258373207 1440,150 C 1440,150 1440,600 1440,600 Z");
            }
}
.path1{
	animation:pathAnim-1 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
}
@keyframes pathAnim-1{
	0%{
              d: path("M 0,600 C 0,600 0,300 0,300 C 88.2870813397129,286.9569377990431 176.5741626794258,273.9138755980861 273,290 C 369.4258373205742,306.0861244019139 473.9904306220096,351.30143540669854 574,351 C 674.0095693779904,350.69856459330146 769.4641148325359,304.88038277511953 867,280 C 964.5358851674641,255.11961722488044 1064.153110047847,251.177033492823 1160,258 C 1255.846889952153,264.822966507177 1347.9234449760766,282.4114832535885 1440,300 C 1440,300 1440,600 1440,600 Z");
	}
	25%{
              d: path("M 0,600 C 0,600 0,300 0,300 C 112.34449760765551,319.1387559808613 224.68899521531102,338.27751196172255 329,344 C 433.311004784689,349.72248803827745 529.5885167464114,342.02870813397124 619,314 C 708.4114832535886,285.97129186602876 790.9569377990431,237.60765550239233 883,248 C 975.0430622009569,258.39234449760767 1076.5837320574162,327.5406698564594 1171,346 C 1265.4162679425838,364.4593301435406 1352.7081339712918,332.22966507177034 1440,300 C 1440,300 1440,600 1440,600 Z");
	}
	50%{
              d: path("M 0,600 C 0,600 0,300 0,300 C 76.03827751196172,287.933014354067 152.07655502392345,275.86602870813397 263,270 C 373.92344497607655,264.13397129186603 519.7320574162679,264.4688995215311 618,261 C 716.2679425837321,257.5311004784689 766.9952153110047,250.25837320574163 853,247 C 939.0047846889953,243.74162679425837 1060.287081339713,244.49760765550235 1164,254 C 1267.712918660287,263.50239234449765 1353.8564593301435,281.7511961722488 1440,300 C 1440,300 1440,600 1440,600 Z");
	}
	75%{
              d: path("M 0,600 C 0,600 0,300 0,300 C 127.13875598086125,303.23444976076553 254.2775119617225,306.46889952153106 335,302 C 415.7224880382775,297.53110047846894 450.02870813397135,285.3588516746412 543,283 C 635.9712918660287,280.6411483253588 787.6076555023924,288.0956937799043 908,280 C 1028.3923444976076,271.9043062200957 1117.5406698564593,248.25837320574166 1201,249 C 1284.4593301435407,249.74162679425834 1362.2296650717703,274.87081339712915 1440,300 C 1440,300 1440,600 1440,600 Z");
	}
	100%{
              d: path("M 0,600 C 0,600 0,300 0,300 C 88.2870813397129,286.9569377990431 176.5741626794258,273.9138755980861 273,290 C 369.4258373205742,306.0861244019139 473.9904306220096,351.30143540669854 574,351 C 674.0095693779904,350.69856459330146 769.4641148325359,304.88038277511953 867,280 C 964.5358851674641,255.11961722488044 1064.153110047847,251.177033492823 1160,258 C 1255.846889952153,264.822966507177 1347.9234449760766,282.4114832535885 1440,300 C 1440,300 1440,600 1440,600 Z");
            }
}
.path2{
	animation:pathAnim-2 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
}
@keyframes pathAnim-2{
	0%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 126.59330143540669,432.43062200956933 253.18660287081337,414.8612440191387 337,431 C 420.8133971291866,447.1387559808613 461.8468899521531,496.9856459330144 552,495 C 642.1531100478469,493.0143540669856 781.4258373205741,439.19617224880386 895,417 C 1008.5741626794259,394.80382775119614 1096.4497607655503,404.2296650717704 1183,415 C 1269.5502392344497,425.7703349282296 1354.7751196172248,437.88516746411483 1440,450 C 1440,450 1440,600 1440,600 Z");
	}
	25%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 121.68421052631578,430.4688995215311 243.36842105263156,410.9377990430622 325,411 C 406.63157894736844,411.0622009569378 448.2105263157896,430.71770334928226 527,428 C 605.7894736842104,425.28229665071774 721.7894736842105,400.19138755980856 846,412 C 970.2105263157895,423.80861244019144 1102.6315789473683,472.51674641148327 1203,485 C 1303.3684210526317,497.48325358851673 1371.6842105263158,473.74162679425837 1440,450 C 1440,450 1440,600 1440,600 Z");
	}
	50%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 120.54545454545456,477.2535885167464 241.09090909090912,504.50717703349284 340,501 C 438.9090909090909,497.49282296650716 516.1818181818181,463.2248803827751 605,457 C 693.8181818181819,450.7751196172249 794.1818181818181,472.5933014354068 881,475 C 967.8181818181819,477.4066985645932 1041.0909090909092,460.4019138755981 1132,453 C 1222.9090909090908,445.5980861244019 1331.4545454545455,447.79904306220095 1440,450 C 1440,450 1440,600 1440,600 Z");
	}
	75%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 85.3205741626794,440.7177033492823 170.6411483253588,431.43540669856463 266,432 C 361.3588516746412,432.56459330143537 466.7559808612441,442.9760765550239 577,443 C 687.2440191387559,443.0239234449761 802.3349282296649,432.66028708133973 903,430 C 1003.6650717703351,427.33971291866027 1089.9043062200958,432.3827751196172 1177,437 C 1264.0956937799042,441.6172248803828 1352.047846889952,445.8086124401914 1440,450 C 1440,450 1440,600 1440,600 Z");
	}
	100%{
              d: path("M 0,600 C 0,600 0,450 0,450 C 126.59330143540669,432.43062200956933 253.18660287081337,414.8612440191387 337,431 C 420.8133971291866,447.1387559808613 461.8468899521531,496.9856459330144 552,495 C 642.1531100478469,493.0143540669856 781.4258373205741,439.19617224880386 895,417 C 1008.5741626794259,394.80382775119614 1096.4497607655503,404.2296650717704 1183,415 C 1269.5502392344497,425.7703349282296 1354.7751196172248,437.88516746411483 1440,450 C 1440,450 1440,600 1440,600 Z");
	}
}