.main{
	min-height: 100vh;
	
	
}
.main h2{
	width: 100%;
	text-align: center;
	
}
.hero{
	width: 100%;
	height: 400px;
	background: linear-gradient(#51ADFA, #3B30EC);
	position: relative;
	bottom: 38px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 30px;
	color: #fff;
	padding-top: 70px;
	font-size: 13px;
  

}
.hero a{
	background: #fff;
	border-radius: 18px;
	color: #3B30EC;
	padding: 10px;
	position: relative;
	top: 20px;
	transition: 0.5s;
	border: 1px solid #3B30EC;
	cursor: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 170px;
	font-weight: 600;
	
	
}
.hero a:hover{
	background: #3B30EC;
	color: #fff;
	border: 1px solid #fff;
	
}
.hero img{
	width: 40%;
	border-radius: 12px;
	border: 1px solid #fff;
	margin-left: 50px;
	
}
.main svg{
	width: 100%;
	height: 400px;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
	position: relative;
	bottom: 40px;
}
.path0{
	animation:pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transition: 300ms ease-in-out;
	transition-delay: 150ms;
}
.gig_container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 20px 0px;
	padding: 20px 30px;
	
	
}
.gig{
	width: 250px;
	height: 400px;
	border-radius: 13px;
	background: #ffffff;
	box-shadow:  7px 7px 21px #cfcfcf,
             -7px -7px 21px #ffffff;
	margin: 40px 0px;
	padding: 10px 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
}
.gig:hover{
	box-shadow:  13px 13px 26px #b0b0b0,
             -13px -13px 26px #ffffff;
}
.gig_info{
	width: 100%;
	padding: 5px;
	
	
}
.gig img{
	width: 30%;
	background: #13DF73;
	border-radius: 12px;
	border: 1px solid linear-gradient(rgb(40,150,250),rgb(40,90,250));
	
}
@keyframes pathAnim-0{
	0%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 102.07655502392345,174.39234449760767 204.1531100478469,148.7846889952153 298,157 C 391.8468899521531,165.2153110047847 477.46411483253587,207.25358851674642 583,209 C 688.5358851674641,210.74641148325358 813.9904306220096,172.20095693779905 898,167 C 982.0095693779904,161.79904306220095 1024.5741626794259,189.94258373205741 1108,201 C 1191.4258373205741,212.05741626794259 1315.712918660287,206.0287081339713 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
	25%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 123.42583732057417,192.8421052631579 246.85167464114835,185.68421052631578 333,179 C 419.14832535885165,172.31578947368422 468.01913875598086,166.10526315789477 556,177 C 643.9808612440191,187.89473684210523 771.0717703349284,215.89473684210526 880,219 C 988.9282296650716,222.10526315789474 1079.6937799043062,200.3157894736842 1170,193 C 1260.3062200956938,185.6842105263158 1350.153110047847,192.84210526315792 1440,200 C 1440,200 1440,400 1440,400 Z");
	}
	50%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 81.37799043062202,199.8181818181818 162.75598086124404,199.63636363636365 247,209 C 331.24401913875596,218.36363636363635 418.3540669856459,237.27272727272725 527,238 C 635.6459330143541,238.72727272727275 765.8277511961724,221.2727272727273 865,203 C 964.1722488038276,184.7272727272727 1032.334928229665,165.63636363636363 1123,165 C 1213.665071770335,164.36363636363637 1326.8325358851675,182.1818181818182 1440,200 C 1440,200 1440,400 1440,400 Z");
	}
	75%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 102.04784688995213,169.10047846889952 204.09569377990425,138.20095693779905 294,149 C 383.90430622009575,159.79904306220095 461.665071770335,212.29665071770333 557,204 C 652.334928229665,195.70334928229667 765.2440191387559,126.61244019138758 863,130 C 960.7559808612441,133.38755980861242 1043.358851674641,209.2535885167464 1137,233 C 1230.641148325359,256.7464114832536 1335.3205741626793,228.3732057416268 1440,200 C 1440,200 1440,400 1440,400 Z");
	}
	100%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 102.07655502392345,174.39234449760767 204.1531100478469,148.7846889952153 298,157 C 391.8468899521531,165.2153110047847 477.46411483253587,207.25358851674642 583,209 C 688.5358851674641,210.74641148325358 813.9904306220096,172.20095693779905 898,167 C 982.0095693779904,161.79904306220095 1024.5741626794259,189.94258373205741 1108,201 C 1191.4258373205741,212.05741626794259 1315.712918660287,206.0287081339713 1440,200 C 1440,200 1440,400 1440,400 Z");
	}
}
@media only screen and (max-width: 576px){
	.hero img{
		display: none;
		
	}
}